{% extends 'html/include.html' %}
{% block content %}

{% if msg is not none %}

    {{msg}}


{% endif %}
<a href="{% url 'createAccount'%}">
    create account
</a>
<a href="{% url 'getEmail'%}">
    forgot password?
</a>
<form method="post" action="{% url 'validateLogin' %}" style="text-align: center;">
{% csrf_token %}
    email    <input type="email" name="email"><br>
    password        <input type="password" name="password"><br><br>
    <input type="submit" name="create">
</form>



{% endblock content %}