{% extends 'html/include.html' %}
{% block content %}

{% if msg is not none %}

    {{msg}}
{% endif %}
an email has been sent to {{email}}
<a href="{% url 'createAccount'%}">
    create account
</a>
<a href="{% url 'login'%}">
    log in
</a>

<form method="post" action="{% url 'recoveryPassword' %}" >
    {% csrf_token %}
    <input type="text" placeholder="enter otp" name="otpGiven">
    <input type="hidden" name="email" value="{{email}}">
    <input type = "submit" value="submit" name="otpSubmit">
</form>

{% endblock content %}