{% extends 'html/base.html' %}
{% block content %}
{% if msg is not none %}

    {{msg}}

{% endif %}


<form method="get" action="{% url 'followAction' %}">
  
  <input type = "hidden" name="next" value={{request.path}}>
    <input type = "hidden" name="isFollowing" value={{isFollowing}}>
    <input type = "hidden" name="nid" value={{nid}}>
    <input type = "hidden" name="viewerNid" value={{seeingNid}}>
    <input type="submit" name="follow" value={{followBtn}}>
</form>

<form method="get" action="{% url 'tip' %}">
    <input type = "hidden" name="reciever" value={{nid}}>
    <input type = "hidden" name="viewer" value={{seeingNid}}>
    <input type="number" min="1" placeholder="tip amount" name="tipamount">
    <input type="submit" name="tip" value="tip">
</form>

<img src= "{{dp}}"> <br><br>
name:{{name}}<br>
gender : {{gender}}<br>
age:{{age}}<br>
city : {{city}}<br>
country : {{country}} <br>
{{bio}}<br>
<!-- seeing -> not owner of the page -->

<ul>
    {% for x in posts %}
      {% if x.type == 'regular' %}
        audience:{{ x.viewers }}<br> posted on : {{x.date}}<br>
        post:{{ x.content }}<br>
        
        <a href="{% url 'viewReactions' %}?postid={{x.postNo}}">reactions: {{ x.likes }}</a><br>
        
        {% for re in x.reactTypes %}
          <form method="get" action="{% url 'meReact' %}">
            <input type = "hidden" name="postid" value={{x.postNo}}>
            <input type = "hidden" name="reactName" value={{re}}>
            <input type = "hidden" name="reactorNid" value={{seeingNid}}>
            <input type = "submit" value="{{re}}" name="reactBtn">
          </form>
        
        {% endfor %}
        {% if x.photo is not none%}
          <img src= "{{x.photo}}"> <br>
        {% endif %}
        <form method="get" action="{% url 'makeOtherComment' %}">
                {% csrf_token %}
                <input type="text" placeholder="write comment" name="comment">
                <input type = "hidden" name="postid" value={{x.postNo}}>
                <input type = "hidden" name="commenter" value={{seeingNid}}>
                <input type = "hidden" name="nid" value={{nid}}>
                <input type = "submit" value="comment" name="commentBtn">
                
        </form>
        <a href="{% url 'seeTranslated' %}?postId={{x.postNo}}">translate</a><br>
        
        comment:<br>
        {% for c in x.comment %}
          <a href="{% url 'othersProfile' %}?nid={{c.commenterNid}}">{{c.commenterName}}</a>
          
          {{c.comment}}
          <br> 
          
           
      {% endfor %}
      <br><br>
      {% endif %}
    {% endfor %}
    
    </ul>

{% endblock content %}