{% extends 'html/base.html' %}
{% block content %}
<br>
<a href="{% url 'followers'%}">followers
  <br>{{noOfFollowers}}</a>
<a href="{% url 'followings'%}">followings
<br> {{noOfFollowings}}</a>
<a href="{% url 'createPost'%}">post</a>
<a href="{% url 'showBasicInfo'%}">edit basic info</a>
<a href="{% url 'activityLog'%}">activity log</a>


<br>
<img src= "{{dp}}"> <br><br>
change dp:
<form method="post" action="{% url 'updateDp' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="dp">
    <input type="submit" name="change">
</form>


{{name}}
<br>
{{bio}}<br>

  <ul>
{% for x in posts %}
  {% if x.type == 'regular' %}
    audience:{{ x.viewers }}<br> posted on : {{x.date}}<br>
    post:{{ x.content }}<br><br>
    <a href="{% url 'viewReactions' %}?postid={{x.postNo}}">reactions: {{ x.reactions }}</a><br>
    {% for re in x.reactTypes %}
      <form method="get" action="{% url 'meReact' %}">
        <input type = "hidden" name="postid" value={{x.postNo}}>
        <input type = "hidden" name="reactName" value={{re}}>
        <input type = "submit" value="{{re}}" name="reactBtn">
      </form>
    
    {% endfor %}
    {% if x.photo is not none%}
        
      <img src= "{{x.photo}}"> <br>
    {% endif %}

    <form method="post" action="{% url 'addComment' %}">
            {% csrf_token %}
            <input type="text" placeholder="write comment" name="comment">
            <input type = "hidden" name="postid" value={{x.postNo}}>
            <input type = "submit" value="comment" name="commentBtn">
    </form>
    
    <a href="{% url 'deletePost' %}?postid={{x.postNo}}">delete post</a><br>
    
    <a href="{% url 'seeTranslated' %}?postId={{x.postNo}}">translate</a>
    <br>
    
    comment:<br>
    {% for c in x.comment %}
        <a href="{% url 'othersProfile' %}?nid={{c.commenterNid}}">{{c.commenterName}}</a>
          
          {{c.comment}}
          <br> 
      
{% endfor %}

  <br><br>
  {% endif %}
{% endfor %}

</ul>

{% endblock content %}

