{% extends 'html/base.html' %}
{% block content %}


audience:{{ viewers }}<br> posted on : {{date}}<br>
        post:{{ content }}<br>
        translate:{{translatedContent}}<br>
        reaction: {{ likes }}<br>
        {% if photo is not none%}
          
          <img src= "{{photo}}"> <br>
          {% endif %}
          
        comment:<br>
        
        {% for c in comment %}
          <a href="{% url 'othersProfile' %}?nid={{c.commenterNid}}">{{c.commenterName}}</a>
          
          {{c.comment}}
          <br> 
          {% endfor %}
          
           
     

{% endblock content %}